<p>Please complete all of the steps on this page:</p>
<p>
  <%= render partial: 'screener_links' %>
</p>

<% if @check_in.screeners.present? %>
  <% if @check_in.completed? %>
    <p><b>"Check in is completed!!!"</b></p>
  <% else %>
    <p><b>Additional screening should be completed.</b></p>

    <%= render partial: 'screeners/form', locals: { screener: @screener } %>
  <% end %>
<% end %>
