<h2>Please complete all of the steps on this page:</h2>

<div id="startScreenerLink">
  <%= render 'screener_links' %>
</div>

<div class="flashMessages"></div>

<div id="screenerSection">
  <% if @check_in.screeners.present? %>
    <% if @check_in.completed? %>
      <p><b>"Check in is completed!!!"</b></p>
    <% else %>
      <p><b>Additional screening should be completed.</b></p>

      <%= render partial: 'screeners/form', locals: { screener: @screener } %>
    <% end %>
  <% end %>
</div>
